body[data-theme="light"] {
    @import '../src/scss/light-slider.scss';
 
    .slider-tab {
       background-color: #D7CAAA;
    }

    header {
        background-color: #e9d5a1;
    }

    .language {
        background-color: #e9d5a1;
    }


    .slider-image {
        border: 5px solid #D7CAAA;
    }
    
    .slider-tab {
        background-color: #D7CAAA;
    }


    #about {
        background: #312a16;
    }



    #resume {
        background: #efe1bd;
    }



    .main-badge {
        background-color: #AE944F !important;
        color: white;
    }


    .experience-badge {
        background-color: #f9f5e9 !important;
        color: black;
    }


    .modal-inside .modal-content {
        background: white;
    }

    .bars li em {
        color: #313131;
    }


    .bar-expand {
        background: #313131;
    }



    #portfolio {
        background: #efe1bd;
    }


    #skills {
        background:  #312a16;
    }



}