body[data-theme="dark"] {  

   @import '../src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #8C8C8C;
   }

   .title-styles {
      color: white;
   }

   .header-icon {
      color: #ffffff;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #2b2b2b;
   }

   .language {
      background-color: #2b2b2b;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #918e97;
      color: white;
   }

   header {
      background-color: #2b2b2b;
      h1 {
         color: white;
      }
   }

   #about {
      background-color: #000000;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #2b2b2b;
      }
      .card {
         background: #2b2b2b;
         color: white;
      }
   }

   #portfolio {
      background: #2b2b2b;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: #000000;
      }
      .project-title-settings {
         color: white;
      }
   }

   #resume {
      filter: brightness(80%);
      background: #2b2b2b;
      
      .section-title {
         color: rgb(255, 255, 255) !important;
      }

      .experience-badge {
         background: #2b2b2b !important;
         color: white;
      }

      .main-badge {
         background: #000000 !important;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #000000 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   #skills {
      background:  #000000;
   }

   .modal-inside .modal-content {
      background: #000000;
      color: white;
   }

   .close-icon {
      color: white;
   }

   footer {
      background: #000000;
      color: white;
   }
}


