body[data-theme="dark"] {
  @import "../src/scss/dark-slider.scss";

  $darkGrey: #1e1e1e;
  $medGrey: #333333;
  $lightGrey: #5c5c5c;

  $fontBlue: #00d9ff;
  $fontDarkBlue: #3f9cd6;
  $fontBrown: #ce916a;
  $fontTeal: #4ebba3;
  $fontYellow: #F4C203;

  .slider-tab {
    background-color: $medGrey;
  }

  .title-styles {
    color: $fontBlue;
  }

  .header-icon {
    color: $fontBlue;
    opacity: 0.8;
  }

  .slider-image {
    border: 5px solid $darkGrey;
  }

  .language {
    background-color: $darkGrey;
  }

  .link-href {
    color: $fontYellow;
  }

  .project-date {
    background-color: $medGrey;
    color: $fontBlue;
  }

  header {
    background-color: $darkGrey;
    h1 {
      color: $fontYellow;
    }
  }

  #about {
    background-color: $lightGrey;
    h1 span {
      color: $fontYellow;
    }
    .polaroid span {
      background: $medGrey;
    }
    .card {
      background: $medGrey;
      color: $fontBlue;
    }
  }

  #portfolio {
    background: $medGrey;
    .section-title {
      color: $fontYellow !important;
    }
    .foto div {
      background: $lightGrey;
    }
    .project-title-settings {
      color: white;
    }
  }

  #skills {
    background: $lightGrey;
    h1.section-title {
      color: $fontYellow;
    }

    .skills-tile {
      background: $fontYellow;
      color: black;
    }
  }

  #resume {
    filter: brightness(80%);
    background: $medGrey;
    .section-title {
      color: $fontYellow !important;
    }

    .experience-badge {
      background: black !important;
      color: $fontBlue;
    }

    .main-badge {
      background: $fontYellow !important;
    }

    .vertical-timeline-element-date {
      color: $fontYellow;
    }

    .vertical-timeline-element-icon {
      background: black !important;
    }
    @media only screen and (max-width: 1169px) {
      .vertical-timeline-element-date {
        color: black;
      }
    }
  }

  .modal-inside .modal-content {
    background: rgb(59, 59, 59);
    color: white;
  }

  .close-icon {
    color: white;
  }
}
