.about {
  overflow: hidden;

  .polaroid img {
    display: block;
  }

  .polaroid span {
    display: inline-block;
    margin: 3.4375rem 4.6875rem 2rem;
    padding: 1rem 1rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 0.625rem;
    -webkit-box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 0;
    position: relative;
  }

  h1 {
    padding-top: 5%;
    padding-bottom: 5%;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
    text-align: center;
  }

  .card-header {
    font-size: 1rem;
  }

  .card-body {
    font-size: 1.5rem;
    margin: 2rem 1.5rem;
    @media screen and (min-width: 762px) {
      font-size: 2rem;
    }
  }
}
