.experience {
  .experience-badge {
    text-align: left !important;
    padding: 5px 8px 5px 8px !important;
    vertical-align: baseline;
    color: black;
    font-weight: lighter !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }

  .experience-icon {
    font-size: 2rem;
    color: #00d9ff;
    @media only screen and (min-width: 1254px) {
      font-size: 3rem;
    }
  }

  .main-badge {
    font-size: 1.5rem !important;
    text-align: left !important;
    padding: 5px 8px 5px 8px !important;
    vertical-align: baseline;
    font-weight: lighter !important;
    background: #00d9ff;
    color: black;
  }

  .vertical-timeline-element-title,
  .vertical-timeline-element-subtitle {
    color: black;
    font-size: 2rem;
  }

  .vertical-timeline-element-date {
    padding: 0 !important;
    margin: 0 !important;
  }

  .vertical-timeline-element-icon {
    background: black !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
