header {
  position: relative;
  height: 520px;
  min-height: 450px;
  width: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  text-align: center;
  overflow: hidden;
  // background-color: #e9d5a1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 0;

  .header-icon {
    height: 150px;
    width: 150px;
  }

  h1 {
    font-size: 200%;
    text-align: center;
    font-weight: 700 !important;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 0 auto 18px auto;
    width: 100%;
  }

  .title-container {
    height: 50px;
  }

  .title-styles {
    font-family: "Raleway", sans-serif;
    font-size: 100%;
  }
}

.language {
  font-size: 25px;
  // background-color: #e9d5a1;
  padding-bottom: 10px;
  padding-top: 80px;

  .language-icon {
    margin-right: 1rem;
    font-size: 50px;
    cursor: pointer;
  }
}
