.portfolio {
  background: #efe1bd;
  padding-bottom: 5%;

  .portfolio-item {
    max-width: 100%;
    margin-bottom: 15px;
    text-align: center;

    @media (min-width: 576px) {
      .closeButtonResponsive {
        display: block;
      }
      .portfolio-item {
        margin-bottom: 30px;
      }
    }

    .foto {
      .__container {
        // background: #ffffff;
        display: inline-block;
        margin: 0 auto 5% auto;
        padding: 10px 10px 5px;
        text-align: center;
        text-decoration: none;
        -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;
        z-index: 0;
        position: relative;

        &:after {
          color: #333;
          font-size: 25px;
          content: attr(title);
          position: relative;
          top: 15px;
        }

        &:hover {
          -webkit-transform: scale(1.01);
          -moz-transform: scale(1.01);
          transform: scale(1.01);
          z-index: 10;
          -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
          -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
        }

        & img {
          display: block;
          width: 100%;
        }

        .project-date {
          font-size: 16px;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          padding: 8px 15px 2px 15px;
          position: relative;
          z-index: -500;
          border-top: 5px solid #696969;
          border-radius: 0 0 5px 5px;
          // background-color: #696969;
          // color: white;
        }
      }
    }

    .portfolio-item-caption {
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      transition: all ease 0.5s;
      opacity: 0;
      background-color: rgba(51, 51, 51, 0.9);

      &:hover {
        opacity: 1;
      }
    }
  }
}

.portfolio
  .portfolio-item
  .portfolio-item-caption
  .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.modal-inside {
  .modal-close {
    text-align: right;
    padding: 10px 15px 10px 15px;
    cursor: pointer;

    .close-icon {
      color: black;
      font-weight: lighter !important;
    }
  }
}

.modal-description {
  text-align: justify;
  padding: 5px 5px 0 5px;
  margin-bottom: 20px;
  font-size: 12px;
  color: black;
}

.slider-tab {
  // background-color: #d7caaa;
  height: 25px;
}

.slider-image {
  // border: 5px solid #d7caaa;
}

.__modal-title {
  padding: 5px 5px 0px 5px;
}

.slider-iconfiy {
  margin-top: 10px;
}

.awssld__next {
  outline: none !important;
}

.awssld__prev {
  outline: none !important;
}

.styles_typicalWrapper__1_Uvh::after {
  cursor: none !important;
  display: none;
}

.project-title-settings {
  margin-top: 5%;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  // color: black;
  text-align: center;
}

.link-href {
  color: black;
}

$loader-bar-color: #bfaa76;

// .loader-bar-color {
//   color: black !important;
// }
