.skills {
  width: 100%;
  overflow: hidden;
  padding-bottom: 10%;

  .list-inline-item {
    font-size: 1rem;
    padding: 2rem;
  }

  .skills-tile {
    transform: scale(2);
    padding-top: 1rem;
    width: 6.25rem;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 0.625rem;
    opacity: 0.95;
    border-width: 0.3125rem;
    border-style: solid;

    i {
      font-size: 2rem;
    }

    .skills-name {
      font-size: 0.8rem;
    }
  }

  .skill-icon {
    font-size: 3rem;
  }
}
