@use "mixins" as *;

.about {
  h1 {
    color: white;
  }
  
  .container {
    display: grid;
    max-width: 1400px;

    @include respond-above(xl) {
      display: grid;
      grid-auto-flow: column;
      margin: auto;
      padding: 24px;
    }

    .polaroid {
      margin: 0 auto;
      margin-bottom: 5%;

      @include respond-above(xl) {
        margin-right: 75px;
      }

      span:first-of-type {
        padding: 16px 16px 32px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      }

      span {
        display: block;
        margin: auto auto;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        transition: all 0.2s linear;
        z-index: 0;
      }

      svg {
        font-size: 400%;
        margin: 9% 5% 0 5%;
      }
    }

    h1 {
      padding-top: 5%;
      padding-bottom: 5%;
      text-transform: uppercase;
      letter-spacing: 0.1875rem;
      text-align: center;
    }

    .card {
      max-width: 700px;
      margin: auto auto;

      .card-header {
        display: flex;
        margin-bottom: 0;
        padding: 7px 12px;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);

        svg {
          font-size: 20px;
          margin: 2.5px;
        }
      }

      .card-body {
        padding: 32px 16px;
        font-size: 16px;

        @include respond-above(md) {
          width: 70ch;
          padding: 32px 24px;
          font-size: 18px;
          line-height: 32px;
        }

        @media only screen and (max-width: 300px) {
          font-size: 12px;
        }

        span {
          width: clamp(45ch, 50%, 75ch);
        }
      }
    }
  }
}
