.experience {
  h1 {
    color: white;
  }

  padding-bottom: 0;

  div {
    margin-bottom: 15px;
  }

  .main-badge {
    padding: 5px 8px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 700;
    background: white;
    border: 1px solid #5828e3;
    color: black;
    border-radius: 50rem;
  }

  .badge-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;

    .badge {
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 10px;
      padding: 5px 8px;
      vertical-align: baseline;
      border-radius: 50rem;
      text-align: left;
      background-color: #5828e3;
      line-height: 1;
      white-space: nowrap;
      color: white;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 1px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;

      @media only screen and (max-width: 370px) {
        white-space: normal;
      }
    }
  }

  .vertical-timeline-element-title {
    margin: 24px 0;
    line-height: 32px;
    color: black;
    font-size: 32px;
    font-weight: bold;
  }

  .vertical-timeline-element-subtitle {
    margin: 24px 0;
    font-weight: 400;
    color: #5828e3;

    .lessons {
      margin-left: 10px;
    }
  }

  .vertical-timeline-element-date {
    color: black;
    padding: 0;
    margin: 0;
  }
}
