.footer {
  background: #1f1f1f;
  min-height: 6.25rem;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  color: white;
  position: relative;
  text-align: center;

  & a,
  & a:visited {
    color: #fff;
  }

  & a:hover,
  & a:focus {
    transition: all 0.3s ease;
    color: #e23237;
  }

  .social-links {
    margin-top: 50px;
    font-size: 32px;

    span {
      margin: 12px;
    }
  }

  .copyright-group {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
  }

  .archives {
    .title {
      border-bottom: 1px solid white;
    }

    a {
      cursor: pointer;
    }
  }
}
