.github-corner {
  svg {
    fill: #151513;
    color: #fff;
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    transform: scale(-1, 1);
    z-index: 500;
  }

  .octo-arm {
    transform-origin: 130px 106px;
  }

  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  @keyframes octocat-wave {
    0%,
    100% {
      transform: rotate(0);
    }
    20%,
    60% {
      transform: rotate(-25deg);
    }
    40%,
    80% {
      transform: rotate(10deg);
    }
  }

  @media (max-width: 500px) {
    &:hover .octo-arm {
      animation: none;
    }
    
    .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}
