.header {
  position: relative;
  height: 100vh;
  min-height: 450px;
  width: 100%;
  background-size: cover;
  text-align: center;
  background-size: cover;
  padding-bottom: 0;
  color: white;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  .typical {
    font-size: 200%;
    text-align: center;
    font-weight: 700 !important;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 0 auto 18px auto;
    margin-bottom: 0;
    width: 100%;
    text-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.7);
  }

  .title-container {
    height: 50px;
  }

  p {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .title-styles {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    opacity: 0.5;
  }
}

.language {
  width: 100%;
  margin-bottom: 16px;
  position: absolute;
  bottom: 0;
  font-size: 25px;
  margin-top: 16px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    button {
      display: flex;
      align-items: center;
      padding: 0;
      outline: none;
      border: none;
      background-color: transparent;
    }

    .language-icon {
      margin: auto 0;
      font-size: 50px;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
