@use "mixins" as *;

.projects-section {
  .projects-group {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: auto;

    @include respond-below(sm) {
      display: flex;
      flex-direction: column;
      max-width: unset;
      margin: 0;
      padding: 0;
    }

    .project {
      width: 350px;
      margin: 0 auto;
      margin-bottom: 32px;
      text-align: center;

      .wrapper {
        .photo {
          padding: 10px 10px 5px;
          text-align: center;
          text-decoration: none;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
          transition: all 0.2s linear;
          z-index: 0;
          position: relative;
          cursor: pointer;

          &:hover {
            transform: scale(1.01);
            z-index: 10;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
          }

          & video {
            display: block;
            width: 100%;
            max-width: 345px;
            pointer-events: none;
          }

          .project-date {
            font-size: 16px;
            padding: 8px 16px 8px 16px;
            position: relative;
            z-index: -500;
            border-radius: 0 0 5px 5px;
            // color: white;
          }

          .project-title {
            letter-spacing: 1px;
            font-size: 18px;
            font-weight: 700;
            margin: 16px;
          }
        }
      }
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: 768px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.column-flex {
  position: relative;
  width: 100%;
  margin: 0 auto;
  // padding-right: 15px;
  // padding-left: 15px;

  @media (min-width: 768px) {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

// .modal-inside {
//   padding: 0;
//   margin: 0;
// }

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

.modal-open {
  overflow: hidden;

  // Hide scrollbar for Chrome, Safari and Opera
  &::-webkit-scrollbar {
    display: none;
  }
  // Hide scrollbar for IE, Edge and Firefox
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-close {
  font-size: 2rem;
  text-align: right;
  padding: 0.625rem 1rem 0.625rem 1rem;
  cursor: pointer;
}

.modal-fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translateY(-50px);
}

.modal-show .modal-dialog {
  transform: none;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
  }
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);

  @media (min-width: 576px) {
    min-height: calc(100% - 3.5rem);
  }
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  // width: 100%;
  padding: 0;
  margin: 0;
  pointer-events: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;

  .modal-toolbar {
    display: flex;
    margin-bottom: 0;
    padding: 7px 12px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    cursor: pointer;

    &:hover {
      .close-modal-btn {
        background-color: red;
      }
    }

    .close-modal-btn {
      transition: background-color 0.3s ease;
    }

    svg {
      font-size: 20px;
      margin: 2.5px;
    }
  }

  .top-group {
    @include respond-above(lg) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .modal-title {
      margin: 24px 0;
      font-size: 32px;
      font-weight: 700;

      @include respond-above(sm) {
        font-size: 32px;
      }
    }

    .github-link,
    .site-link {
      margin-left: auto;
      padding: 5px 12px;
      border-radius: 50rem;
      transition: all 0.3s ease;
      vertical-align: middle;
      text-decoration: none;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: bold;

      &:hover {
        opacity: 0.7;
      }

      svg {
        margin-bottom: 4px;
        vertical-align: middle;
      }
    }

    .github-link {
      margin-left: auto;
      color: white;
      background-color: #5828e3;
    }

    .site-link {
      margin-left: 10px;
      color: white;
      background-color: black;
    }
  }

  .modal-description {
    text-align: justify;
    margin: 24px 0;
    font-size: 16px;
    line-height: 200%;

    @include respond-above(sm) {
      font-size: 20px;
    }
  }

  ul {
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 5px 16px;
      list-style: none;

      // technology icons
      svg {
        font-size: 300%;
      }

      // the text under the technology icons on the modal window
      p {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
          "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
          "Helvetica Neue", sans-serif;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
  }
}

.awssld {
  --organic-arrow-thickness: 20px;
  --organic-arrow-height: 60px;
  --control-button-width: 15%;
}

.awssld__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
