.skills {
  .icon-group {
    text-align: center;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    font-size: 3rem;
    list-style: none;

    li {
      width: 125px;
      height: 112px;
      margin: 10px;
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      font-size: 16px;
      letter-spacing: 2px;

      svg {
        font-size: 48px;
      }

      .skills-name {
        margin: 0;
        margin-top: 10px;
        margin-bottom: 16px;
        font-size: 12px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
          "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
          "Helvetica Neue", sans-serif;
      }
    }
  }
}
